<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	{% for list in items %}
		{% if list.logo %}
		    <img class="card-img-top" src="{{list.logo.url}}" alt="Card image cap">
		{% endif %}
	<ul>
		<li>{{list.name}}</li>
		<li>{{list.description}}</li>
		<li>{{list.opening_time}}</li>
		<li>{{list.closing_time}}</li>
		<li>{{list.id}}</li>
	</ul>
	{% endfor %}
	<div class="pagination">
        <span class="step-links">
        	{% if items.has_previous %}
        		<a href="?page={{ items.previous_page_number }}">previous</a>
        	{% endif %}
        <span class="current">
                Page {{ items.number }} of {{ items.paginator.num_pages }}.
            </span>

            {% if items.has_next %}
                <a href="?page={{ items.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</body>
</html>